#leftbar {
    width:14rem;
    padding-top:6rem;
    margin-left:1rem;
}

#footbar {
    background-color:white;
    color:black;
    text-align:left;
    height:4rem;
    font-family: arial, helvetica, sans-serif;
}

#footbar a {
    color:blue;
}

#kontainer {
    padding-bottom: 5rem;
    font-family: arial, helvetica, sans-serif;
}

#midtitle {
    text-align:left;
    font-family: arial, helvetica, sans-serif;
}

#topkek {
    height:5rem;
    background-color: #330099;
    font-family: arial, helvetica, sans-serif;
}

#rightbar {
    display:none;
}
